/*
Colors:
#0049A6 = rgb(0, 73, 166)
#0059A6 = rgb(0, 89, 166)
#F4E500 = rgb(244, 229, 0)
#F50318 = rgb(245, 3, 24)
#A8020E = rgb(168, 2, 13)
*/

html {
    background: url("background.jpg") no-repeat center;
    background-size: cover;
}

* {
    box-sizing: border-box;
    font-family: Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

h1, h2 {
    padding-bottom: 15px;
    text-align: center;
}

body {
    background: rgba(255, 255, 255, 0.3);
}

button {
    background: rgb(244, 229, 0);
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
    color: rgb(255, 255, 255);
    font-size: 24px;
    font-weight: bold;
    padding: 5px;
    -webkit-transition: background 1s; /* Safari */
    transition: background 1s;
    width: 100px;
}

button:hover {
    background: rgb(0, 89, 166);
    border-color: rgb(0, 73, 166);
    cursor: pointer;
    -webkit-transition: background 1s; /* Safari */
    transition: background 1s;
}

#pagetitle {
    border-bottom: 5px solid rgb(0, 89, 166);
    padding: 15px 0 0 0;
}

#pagetitle .part {
    color: rgb(255, 255, 255);
    font-weight: bold;
    float: left;
    text-align: center;
    width: 33.333333%;
}

#pagetitle .part h2 {
    width: 100%;
}

#pagetitle .part p {
    font-size: 24px;
    padding-bottom: 10px;
}

#pagetitle:after {
    clear: both;
    content: "";
    display: block;
    line-height: 0;
}

#stateviewCanvas {
    display: block;
    margin: 0 auto;
}

#controlview {
    padding: 15px 0;
}

#controlview:after {
    clear: both;
    content: "";
    display: block;
    line-height: 0;
}

.buttonwrapper:nth-child(1n) {
    width: 60%;
}

.buttonwrapper:nth-child(2n) {
    width: 40%;
}

.buttonwrapper {
    float: left;
    text-align: center;
}

.viewwrapper {
    padding: 15px;
}

.viewwrapper:after {
    clear: both;
    content: "";
    display: block;
    line-height: 0;
}

#positionview {
    float: left;
    width: 60%;
}

#positionviewCanvas {
    background: rgba(168, 2, 13, 0.8);
    border: 1px solid rgb(0, 0, 0);
    box-shadow: 0px 5px 10px rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    display: block;
    margin: 0 auto;
}

#logview {
    float: left;
    width: 40%;
}

#logEntries {
    background: rgba(168, 2, 13, 0.8);
    border: 1px solid rgb(0, 0, 0);
    box-shadow: 0px 5px 10px rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    height: 450px;
    overflow-y: scroll;
    padding: 15px;
    width: 100%;
}